body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

/* Nav Styling */

.header {
    display: flex;
    background-color: #1f2937 ;
    margin: 0;
    padding: 16px 10vw;
    justify-content: space-between;

}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.header li {
    list-style: none;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Hero Styling */

.hero {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 32px 16px;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 80vw;
}

.heroText {
    flex-grow: 3;
}


.container img {
    flex-shrink: 3;
    width: 500px;
}

.hero button {
    padding: 10px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 12px;
    border: none;
}

/* Card/Feautes section styling */

.features {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 80px;
}

.features h2 {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.featurePics {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    flex-basis: 200px;
    color: rgb(56, 56, 56);
}

.card img {
    border: 5px solid #3882F6;
    border-radius: 8px;
    width: 150px;
}

/* Testimonial Section */

.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    padding: 100px 40px;
}

.testimonial p {
    font-size: 24px;
    font-weight: 900;
}

.testiText {
    width: 60vw;
    margin: auto;
}

.testiText p {
    text-align: right;
}

em {
    font-weight: lighter;
}

/* CTA */

.ctarea {
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 32px 32px;
    
}

.cta p {
    margin: 0;
    padding: 0;
}

.ctarea button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-weight: 900;
    border-radius: 8px;
    padding: 0px 30px;
}